$base-bg-color: #1395f1;
$base-avatar-size: 45px;
$br-radius: 100%;
$white: #ffffff;

.avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $base-bg-color;
  font-size: 26px;
  width: $base-avatar-size;
  height: $base-avatar-size;
  border-radius: $br-radius;
}

.avatar > .avatar__link {
  text-decoration: none;
  color: $white;
}

.avatar > .avatar__link > .avatar__icon {
  top: 0;
  left: 0;
  position: absolute;
  width: $base-avatar-size;
  height: $base-avatar-size;
  object-fit: cover;
  border-radius: $br-radius;
}
