$base-bg-color: #b4b4b4;
$base-avatar-size: 45px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.user {
  display: flex;
  align-items: center;
}

.user__avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $base-bg-color;
  font-size: 26px;
  width: $base-avatar-size;
  height: $base-avatar-size;
  border-radius: 100px;
  
}

.user__avatar > a {
  text-decoration: none;
  color: white;
}

.user__avatar > a > img {
  top: 0;
  left: 0;
  position: absolute;
  width: $base-avatar-size;
  height: $base-avatar-size;
  object-fit: cover;
  border-radius: 100px;
}

.user__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 7px;
}
.user__info > p {
  font-weight: 400;
  font-size: 17px;
  color: #2b2b2b;
}
.user__info > span {
  font-weight: 100;
  font-size: 14px;
  color: #6b6b6b;
}

.user__info--dark > p {
  font-weight: 400;
  font-size: 17px;
  color: #f5f5f5;
}

.user__info--dark > span {
  font-weight: 100;
  font-size: 14px;
  color: #a3a3a3;
}