$blue-100: #6ac1ff;
$gray-100: #474747;
$red-100: #f44336;
$white-100: #efefef;
$white-200: #b8b8b8;

@mixin button-template($color, $size) {
  width: $size;
  height: $size;
  color: $color;
  &:hover {
    cursor: pointer;
  }
}
.likesSection {
  display: flex;
  justify-content: space-around;
  max-width: 200px;
  height: 20px;
  margin-top: 10px;
}

.likesSection--hidden {
  display: none;
}

.likesSection__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.likesSection__counter {
  max-width: 70px;
  font-size: 14px;
  color: $gray-100;
  margin: 0px 5px;
}
.likesSection__counter--dark {
  color: $white-100;
}

.button {
  background-color: transparent;
  border: none;
}

.button__disable {
  @include button-template($gray-100, 18px);
}

.button__disable--dark {
  @include button-template($white-200, 18px);
}

.button__like--enable {
  @include button-template($blue-100, 18px);
}

.button__dislike--enable {
  @include button-template($red-100, 18px);
}
