$gray-100: #dedede;
$gray-200: #474747;
$gray-300: #383838;
$white-100: #efefef;
$white-200: #b8b8b8;

@mixin animation($duration) {
  $name: animation-#{unique-id()};

  @keyframes #{$name} {
    from {
      opacity: 0;
      transform: scale(0.8);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}

.sortMenu {
  position: relative;
  user-select: none;
  width: 75px;
  margin: 0 5px;
}

.sortMenu__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75px;
  font-size: 14px;
  font-weight: 400;
  color: $gray-200;
  &:hover {
    cursor: pointer;
  }
}
.sortMenu__button--dark {
  color: $white-100;
}

.sortMenu__icon {
  width: 20px;
  height: 20px;
  color: $gray-200;
}
.sortMenu__icon--dark {
  color: $white-100;
}

.sortMenu__list {
  display: none;
}

.sortMenu__list--show {
  z-index: 10;
  position: absolute;
  top: 30px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 75px;
  height: 50px;
  padding: 5px 0;
  background-color: $white-100;
  list-style: none;
  border-radius: 3px;
  color: $gray-200;
  @include animation(0.2s);
}

.sortMenu__list--dark {
  background-color: $gray-200;
  color: $white-100;
}

.sortMenu__item {
  font-size: 14px;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
